.posts-container {
    padding: 20px;
  }
  
  
  .table-container {
    overflow-x: auto;
  }
  
  .posts-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .posts-table th,
  .posts-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .posts-table tbody tr:hover {
    background-color: #61dafb;
    cursor: pointer;
  }