.user-details {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.user-details input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
}

.user-details p {
    color: #fff;
    text-align: left;
    margin-bottom: 10px;
}

.update-user-form button[type="submit"] {
    background-color: #61dafb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .update-user-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
.user-details > div {
    margin-bottom: 15px;
}
.update-user-form > div {
    margin-bottom: 15px; 
  }