.users-container {
  padding: 20px;
}


.table-container {
  overflow-x: auto;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
}

.users-table th,
.users-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.users-table tbody tr:hover {
  background-color: #61dafb;
  cursor: pointer;
}